In [1]:
1+1

2

In [2]:
5*5

25

In [4]:
print('Hello world')

Hello world

In [21]:
number = '17'
print("In Chicago, the crime rate is {}".format(number))

number = '24'
city = 'New York'
print("In {0}, the crime rate is {1}".format(city, number))

def display_city_crime_rate(city, number):
    print("In {0}, the crime rate is {1}".format(city, number))
    
display_city_crime_rate('Chicago', 17)    
display_city_crime_rate('New York', 54)    
display_city_crime_rate('Denver', 75-36)    

city = 'Denver    '
city.startswith('Di')

In Chicago, the crime rate is 17
In New York, the crime rate is 24
In Chicago, the crime rate is 17
In New York, the crime rate is 54
In Denver, the crime rate is 39

False

In [28]:
# showing how a loop works
animals = ['dog', 'cat', 'fish']

for animal in animals:
    if animal.startswith('d'):
      print(animal)

dog

In [24]:
import pandas as pd

In [25]:
import os

In [26]:
os.getcwd()

'C:\\Users\\Administrator'